In [688]:
from datetime import datetime

import pandas as pd
from random import randrange
from uuid import uuid1

In [689]:
df = pd.read_csv('data/movies.csv', index_col='movieId')
ratings = pd.read_csv('data/ratings.csv', index_col='movieId')
pfw = pd.read_csv('data/person_film_work.csv')
fw = pd.read_csv('data/film_work.csv')

In [690]:
def gen_id(val):
    return uuid1()

In [691]:
fw_list = list(fw.groupby('id').first('id').reset_index().id)

In [692]:
def get_year(row: str):
    film_name = row[:row.rfind('(')]
    film_year = row[row.rfind('(') + 1: -1]
    film_year = "".join(filter(str.isdigit, film_year))

    try:
        film_year = datetime(int(film_year), 1, 1)
    except:
        film_year = datetime(1, 1, 1)
        film_name = row

    return {'title': film_name, 'creation_date': film_year}

In [693]:
df2 = df.title.apply(lambda x: pd.Series(get_year(x)))
df2['id'] = df2.apply(gen_id, axis=1)
df2 = df2.merge(ratings.groupby('movieId')['rating'].mean().round(decimals=1), left_index=True, right_index=True)

In [694]:
def merge_with_film_work(val):
    random_index = randrange(len(fw_list))
    return fw_list[random_index]


df2['film_work_id'] = df2.apply(merge_with_film_work, axis=1)
df2['description'] = df2.reset_index().merge(fw[['id', 'description']], left_on='film_work_id', right_on='id').set_index('movieId')['description']
df2['type'] = df2.reset_index().merge(fw[['id', 'type']], left_on='film_work_id', right_on='id').set_index('movieId')[
    'type']

In [695]:
mpm = df2.reset_index()[['id', 'movieId']].rename({'id': 'film_work_id'}, axis=1)
mpf = df2.reset_index()[['id', 'film_work_id']]
df2['created'] = datetime.now()
df2['modified'] = datetime.now()
df2 = df2.reset_index()[['id', 'title', 'description',  'creation_date', 'type', 'rating', 'created', 'modified', 'movieId']].set_index('id')

In [696]:
fpw = mpf.merge(
    pfw.drop('id', axis=1), left_on='film_work_id', right_on='film_work_id', how='left'
).drop(
    'film_work_id', axis=1
).rename(columns={'id': 'film_work_id'}).dropna()

fpw['id'] = fpw.apply(gen_id, axis=1)
fpw['created'] = datetime.now()
fpw = fpw[['id', 'film_work_id', 'person_id', 'role', 'created']].set_index('id')

In [697]:
fpg = df['genres'].str.split('|', expand=False).reset_index().explode('genres').set_index('movieId').rename({'genres': 'name'}, axis=1)
genre = fpg.groupby('name').first().reset_index()
genre['id'] = genre.apply(gen_id, axis=1)
genre['description'] = ''
genre['created'] = datetime.now()
genre['modified'] = datetime.now()

genre = genre[['id', 'name', 'description', 'created', 'modified']].set_index('id')
genre.head()

,name,description,created,modified
id,,,,
5c1f458e-0a6c-11ed-98c8-4129adfcc95f,(no genres listed),,2022-07-23 12:46:43.665882,2022-07-23 12:46:43.666124
5c1f461a-0a6c-11ed-98c8-4129adfcc95f,Action,,2022-07-23 12:46:43.665882,2022-07-23 12:46:43.666124
5c1f4656-0a6c-11ed-98c8-4129adfcc95f,Adventure,,2022-07-23 12:46:43.665882,2022-07-23 12:46:43.666124
5c1f4688-0a6c-11ed-98c8-4129adfcc95f,Animation,,2022-07-23 12:46:43.665882,2022-07-23 12:46:43.666124
5c1f46a6-0a6c-11ed-98c8-4129adfcc95f,Children,,2022-07-23 12:46:43.665882,2022-07-23 12:46:43.666124

In [698]:

fpg = fpg.reset_index().merge(
    genre.reset_index().rename({'id': 'genre_id'}, axis=1), left_on='name', right_on='name'
).merge(
    mpm, left_on='movieId', right_on='movieId'
).drop(['modified', 'description', 'name'], axis=1)
fpg['id'] = fpg.apply(gen_id, axis=1)
fpg = fpg[['id', 'film_work_id', 'genre_id', 'created']].set_index('id')

In [699]:
fpg.head()

,film_work_id,genre_id,created
id,,,
5c236f06-0a6c-11ed-98c8-4129adfcc95f,5be08164-0a6c-11ed-98c8-4129adfcc95f,5c1f4656-0a6c-11ed-98c8-4129adfcc95f,2022-07-23 12:46:43.665882
5c236fba-0a6c-11ed-98c8-4129adfcc95f,5be08164-0a6c-11ed-98c8-4129adfcc95f,5c1f4688-0a6c-11ed-98c8-4129adfcc95f,2022-07-23 12:46:43.665882
5c237000-0a6c-11ed-98c8-4129adfcc95f,5be08164-0a6c-11ed-98c8-4129adfcc95f,5c1f46a6-0a6c-11ed-98c8-4129adfcc95f,2022-07-23 12:46:43.665882
5c237028-0a6c-11ed-98c8-4129adfcc95f,5be08164-0a6c-11ed-98c8-4129adfcc95f,5c1f46ce-0a6c-11ed-98c8-4129adfcc95f,2022-07-23 12:46:43.665882
5c237050-0a6c-11ed-98c8-4129adfcc95f,5be08164-0a6c-11ed-98c8-4129adfcc95f,5c1f475a-0a6c-11ed-98c8-4129adfcc95f,2022-07-23 12:46:43.665882

In [700]:
fpw.to_csv('data/new_fpw.csv')
fpg.to_csv('data/new_fpg.csv')
genre.to_csv('data/new_genre.csv')
mpm.to_csv('data/mpm.csv')
df2.to_csv('data/new_f.csv')

In [701]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:pass@localhost:5432/movies_database')

In [703]:
df2.to_sql('film_work', engine, schema='content', if_exists='append')
fpw.to_sql('person_film_work', engine, schema='content', if_exists='append')
genre.to_sql('genre', engine, schema='content', if_exists='append')
fpg.to_sql('genre_film_work', engine, schema='content', if_exists='append')

46